
@{
    ViewData["Title"] = "Export to Excel File - Demonstration";
}

<h2>Demo: Export to Excel File</h2>

<a asp-controller="ExportDemo" asp-action="Export">Export Generic</a> <br/>
<a asp-controller="ExportDemo" asp-action="ExportChart">Export Chart</a>